doctype html 
html 
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="shortcut icon", href="/beehive.jpeg")
        link(rel='stylesheet' href='/styles.css')
        title Palindrome 
    body 
        header
            nav
                a(href='/') Home
                a(href="/colors") Colors
                a(href="/palindrome") Palindrome
                a(href="/calculator") Calculator
                a(href="/strings") Fun with Strings
        main
            h1 Our Palindrome function
            h2=pal