.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
a {
  color: #b1c5ca;
  text-decoration: none;
  padding: 1em;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3a2f2f;
  color: #b1c5ca;
}
body nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
